<section id="projects" class="flex flex-col items-center">
    <h1>PROJECTS</h1>
    <!-- Project 1 -->
    <div class="project-group">
        <h2 class="project-title">Project 1</h2>
        <div class="project-card">
            <app-carousel [source]="[
                                      'assets/images/othello1.png',
                                      'assets/images/othello2.png',
                                      'assets/images/othello3.png',
                                      'assets/images/othello4.png',
                                      'assets/images/othello5.png',
                                      'assets/images/othello6.png',
                                      'assets/images/othello7.png',
                                      'assets/images/othello8.png',
                                      'assets/images/othello9.png']"></app-carousel>
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">Reversi</div>

              <a href="https://github.com/YassineMEJRI/ProjetOthello" target="_blank" class="bg-blue-100 hover:bg-blue-200 text-blue-800 mr-2 px-2.5 py-0.5 rounded">Source Code</a>
              <a href="https://github.com/YassineMEJRI/ProjetOthello/releases/tag/release" target="_blank" class="bg-green-100 hover:bg-green-200 text-green-800 mr-2 px-2.5 py-0.5 rounded">Release</a>

              <p class="text-gray-700 text-base">
                Coded the popular board game Reversi (Othello) as a desktop game that runs on the Windows OS. It can be played in multiplayer mode or in single mode vs a computer. Customizable settings including on/off sound and adversary difficulty level.
              </p>
            </div>
            <div class="px-6 pt-4 pb-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#game</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#OOP</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#C++</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#SFML</span>
            </div>
        </div>
    </div>

    <!-- Project 2 -->
    <div class="project-group">
        <div class="project-card">
          <app-carousel [source]="[
                                      'assets/images/DSMS01.png',
                                      'assets/images/DSMS02.png',
                                      'assets/images/DSMS03.png',
                                      'assets/images/DSMS04.png',
                                      'assets/images/DSMS05.png',
                                      'assets/images/DSMS06.png',
                                      'assets/images/DSMS07.png',
                                      'assets/images/DSMS08.png',
                                      'assets/images/DSMS09.png',
                                      'assets/images/DSMS10.png',
                                      'assets/images/DSMS11.png',
                                      'assets/images/DSMS12.png',
                                      'assets/images/DSMS13.png',
                                      'assets/images/DSMS14.png',
                                      'assets/images/DSMS15.png']"></app-carousel>
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">Driving School Management System</div>
              <a href="https://github.com/YassineMEJRI/projet-auto-ecole" target="_blank" class="bg-blue-100 hover:bg-blue-200 text-blue-800 mr-2 px-2.5 py-0.5 rounded ">Source Code</a>

              <p class="text-gray-700 text-base">
                Developed a web application aimed for driving schools that helps them manage different resources such as vehicles and employees as well as user accounts and client payments. The application includes a feature to assign study sessions between trainers and trainees with real time notifications and email reminders. This application includes a portal that simulates the final theoretical exam to help students prepare.
              </p>
            </div>
            <div class="px-6 pt-4 pb-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Web app</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#PHP</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Laravel</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Bootstrap</span>
            </div>
        </div>
        <h2 class="project-title">Project 2</h2>
    </div>


    <!-- Project 3 -->
    <div class="project-group">
        <h2 class="project-title">Project 3</h2>
        <div class="project-card">
          <app-carousel [source]="[
                                      'assets/images/TCMS1.png',
                                      'assets/images/TCMS2.png',
                                      'assets/images/TCMS3.png',
                                      'assets/images/TCMS4.png',
                                      'assets/images/TCMS5.png',
                                      'assets/images/TCMS6.png',
                                      'assets/images/TCMS7.png',
                                      'assets/images/TCMS8.png',
                                      'assets/images/TCMS9.png',
                                      'assets/images/TCMS10.png',
                                      'assets/images/TCMS11.png',
                                      'assets/images/TCMS12.png',
                                      'assets/images/TCMS13.png',
                                      'assets/images/TCMS14.png']"></app-carousel>
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">Training Center Management System</div>
              <a href="https://github.com/YassineMEJRI/tcms-backend" target="_blank" class="bg-blue-100 hover:bg-blue-200 text-blue-800 mr-2 px-2.5 py-0.5 rounded ">Backend code</a>
              <a href="https://github.com/YassineMEJRI/tcms-frontend" target="_blank" class="bg-blue-100 hover:bg-blue-200 text-blue-800 mr-2 px-2.5 py-0.5 rounded ">Frontend code</a>
              <a href="https://csfemebt.herokuapp.com/login" target="_blank" class="bg-green-100 hover:bg-green-200 text-green-800 mr-2 px-2.5 py-0.5 rounded ">Link</a>

              <p class="text-gray-700 text-base">
                Developed a web application dedicated for a Tunisian training center to help the administration manage staff and keep track of the trainees’ grades and attendance, and provide for the trainees a platform to access their reports.
              </p>
            </div>
            <div class="px-6 pt-4 pb-2">
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Web app</span>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Java</span>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Spring</span>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Angular</span>
            </div>
        </div>
    </div>

    <!-- Project 4 -->
    <div class="project-group">
      <div class="project-card">
        <app-carousel [source]="[
                                      'assets/images/scraper2.png',
                                      'assets/images/scraper3.png']"></app-carousel>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">CLI Web scraper</div>
          <a href="https://github.com/YassineMEJRI/IAESTE-offers-web-scraper" target="_blank" class="bg-blue-100 hover:bg-blue-200 text-blue-800 mr-2 px-2.5 py-0.5 rounded ">Source Code</a>

          <p class="text-gray-700 text-base">
            A CLI application that scrapes the web for internships in the CS field, exports the offers into an xlsx file and detect if new offers are available since last run.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#puppeteer</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#nodejs</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#scraper</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#CLI</span>
        </div>
      </div>
      <h2 class="project-title">Project 4</h2>
    </div>



</section>
