
<footer class="p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 Developed By Yassine MEJRI 
    </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
    <li>
      <a href="mailto:y.mejri@outlook.com" class="mr-4 hover:underline md:mr-6 ">y.mejri@outlook.com</a>
    </li>
    <li>
      <a href="mailto:yassine.mejri@ensi-uma.tn" class="mr-4 hover:underline md:mr-6">yassine.mejri@ensi-uma.tn
      </a>
    </li>
  </ul>
</footer>
