<section id="about" class="lg:min-h-screen flex flex-col items-center bg-gradient-to-b from-teal-400 to-teal-600">
    <h2 class="text-white font-bold py-10 text-5xl">ABOUT ME</h2>
    <div class="flex flex-row justify-between items-center">
        <img src="/assets/images/yassine.jpg" class="w-1/4 rounded-lg shadow-2xl md:ml-32 ml-2 my-5">
        <div class="flex flex-col m-12">
            <p class="text-white text-2xl rounded-md">
                I am a  Student, currently looking for a summer internship opportunity.
            
            </p>
            <a href="/assets/files/CV_Yassine_Mejri.pdf" target="_blank"class="flex-initial w-fit relative inline-flex items-center justify-center p-0.5 my-5 overflow-hidden text-sm font-semibold border-2 border-white hover:text-teal-600 text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
                <span class="relative px-5 transition-all ease-in duration-75 hover:bg-white dark:bg-gray-900 group-hover:bg-opacity-0 text-xl">
                    View Resume
                </span>
            </a>
        </div>
    </div>
    <a href="#projects" class="my-20 text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="animate-bounce" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
        </svg>
    </a>
</section>