<section class="h-screen flex flex-col justify-center md:pl-32 pl-10">
    <h1>
        Hi, My name is <span class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-teal-600 to-teal-400">Yassine Mejri</span>
    </h1>
    <h1>I'm a Software Engineering Student.</h1>
    <a href="#about" href="#about" class="flex-initial w-fit relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-semibold text-teal-600 group bg-gradient-to-br from-teal-600 to-teal-400 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-green-200">
        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white group-hover:bg-opacity-0 text-2xl">
            Know More
        </span>
    </a>
</section>
